<div class="login-container">
    <!-- <h2>Login</h2> -->
    <div class="main">
        <form (ngSubmit)="onSubmit()">
            <div class="header"><h2>Admin Login</h2></div>
          <div class="formdiv">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
              </div>
              <span class="error">{{error}}</span>
              
                <button type="submit">Login</button>
              
          </div>
        </form>
    </div>
  </div>