  <div class="task-assignment">
    <h2>My Projects</h2>
</div>


<div class="tdiv">
    <table>
        <thead>
            <tr>
              <th>Project ID</th>
              <th>Supervisor</th>
              <th>Email</th>
              <th>Assigned Project</th>
              <th>Assigned Module</th>
              <!-- <th>Action</th> -->
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>abc</td>
              <td>abc</td>
              <td>abc</td>
              <td>abc</td>
              <td>abc</td>
              <!-- <td><button type="submit" class="Update" >Assign Project</button></td> -->
            </tr>
          </tbody>
      </table>
</div>