<div class="emp-management">
    <h2>Permissions Management</h2>
</div>

<div class="add-div"><button type="button" routerLink="/createpermissions" class="add">Create Permission</button></div>

<div class="tdiv">
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Group Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Manager Permission</td>
            <td><button type="button" class="remove">Remove</button><button type="button" class="Update">Update</button></td>
          </tr>
        </tbody>
      </table>
</div>