<div class="sw-management">
    <h2>Software House Management</h2>
</div>

<div class="add-div"><button type="button" class="add" (click)="openPopupForm()">Add SW House</button></div>

<div class="tdiv">
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Company name</th>
            <th>Company Email</th>
            <th>Contact#</th>
            <th>Address</th>
            <th>Services</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button" class="remove">Remove</button><button type="button" class="Update">Update</button></td>
          </tr>
        </tbody>
      </table>
</div>