<div class="main" [@fadeOut]>
  <!-- Your existing HTML content -->

<div class="main" style="display: flex; height: 300px; justify-content: center; align-items: flex-end;">

    <div (click)="handleClick()" class="clickable3-div">
      <button class="btn">The SoftZone</button>
    </div>
    
    <div (click)="handleClick()" class="clickable2-div">
        <button class="btn">Programmer Force</button>
    </div>
    <div (click)="handleClick()" class="clickable-div">
        <button class="btn">Netsol</button>
    </div>
    <div (click)="handleClick()" class="clickable3-div">
        <button class="btn">TechLogics</button>
    </div>          
  </div>
  
  <div class="main"  style="display: flex; height: 300px; justify-content: center; align-items: flex-end;">

    <div (click)="handleClick()" class="clickable3-div">
      <button class="btn">The SoftZone</button>
    </div>
    <div (click)="handleClick()" class="clickable-div">
        <button class="btn">Programmer Force</button>
    </div>
    <div (click)="handleClick()" class="clickable3-div">
        <button class="btn">Netsol</button>
    </div>
    <div (click)="handleClick()" class="clickable2-div">
        <button class="btn">TechLogics</button>
    </div>          
  </div>

  <div class="main"  style="display: flex; height: 300px; justify-content: center; align-items: flex-end;">

    <div (click)="handleClick()" class="clickable2-div">
      <button class="btn">The SoftZone</button>
    </div>
    <div (click)="handleClick()" class="clickable3-div">
        <button class="btn">Programmer Force</button>
    </div>
    <div (click)="handleClick()" class="clickable2-div">
        <button class="btn">Netsol</button>
    </div>
    <div (click)="handleClick()" class="clickable-div">
        <button class="btn">TechLogics</button>
    </div>
          
  </div>

  <div (click)="handleClick()" class="clickable3-div">
    <button class="btn">The SoftZone</button>
  </div>
</div>






