<div class="Dashboard">
    <h2>Dashboard</h2>
</div>
<div class="container">
    <div class="graph-container row1">
      <h2>Graph1</h2>
      <canvas class="graph" id="pieChart"></canvas>
    </div>
    <div class="graph-container row2">
      <h2>Graph2</h2>
      <canvas class="graph" id="pieChart2"></canvas>
    </div>
  </div>
  
  <!-- <div class="tdiv">
      <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of datas">
              
              <td>{{d.id}}</td>
              <td>{{d.name}}</td>
              <td>{{d.email}}</td>
              <td>{{d.roll}}</td>
            </tr>
           
        </table>
  </div> -->
  