<div class="emp-management">
    <h2>Employee Management</h2>
</div>

<div class="add-div"><button type="button" class="add" (click)="openPopupForm()">Add Employee</button></div>

<div class="tdiv">
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Employee Name</th>
            <th>Employee Email</th>
            <th>Contact#</th>
            <th>Address</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button" class="remove">Remove</button><button type="button" class="Update">Update</button></td>
          </tr>
        </tbody>
      </table>
</div>