<div class="pro-management">
    <h2>Project Management</h2>
</div>

<div class="add-div"><button type="button" class="add" (click)="openPopupForm()">Add Project</button>
</div>

<div class="tdiv">
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Project Title</th>
            <th>Project Discription</th>
            <th>Project Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> </td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button" class="remove">Remove</button><button type="button" class="Update">Update</button></td>
          </tr>
        </tbody>
      </table>
</div>